---
---

/*
Customization from the base hacker theme
*/
@import 'jekyll-theme-hacker';
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

header h1 {
  color: #F9A825;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}